<?xml version="1.0" encoding="UTF-8"?>
<theme>
    <formatVersion>7</formatVersion>
    
	<include>./system-modes/all.xml</include>
    <include ifSubset="viewmode:vertical">./system-modes/vertical.xml</include>
    <include ifSubset="viewmode:horizontal">./system-modes/horizontal.xml</include>
</theme>